@model EnglishTestingOnline.Web.Models.CauHoiViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h2 class="card-title ">Thêm mới câu hỏi</h2>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Add", "CauHoi", FormMethod.Post))
                            {
                                <form class="form-horizontal">
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Loại câu hỏi</label>
                                        <div class="col-md-9">
                                            <div class="form-group has-default">
                                                @*<input type="text" class="form-control">*@
                                                @Html.DropDownListFor(model=>model.LoaiCauHoi_ID, new SelectList(ViewBag.ListLoaiCauHoi, "ID", "NoiDung"), new { @class = "selectpicker" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Bài đọc nghe</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Chủ đề</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Nội dung</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Đáp án</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3"></label>
                                        <div class="card-footer ">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
