@model EnglishTestingOnline.Web.Models.CauHoiDeThiViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h2 class="card-title ">Thêm mới bài đọc nghe</h2>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Add", "BaiDocNghe", FormMethod.Post))
                            {
                                <form class="form-horizontal">
                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">Đề thi</label>
                                        <div class="col-sm-7">
                                            <div class="form-group has-default">
                                                @Html.DropDownListFor(model => model.DeThi_ID, new SelectList(ViewBag.ListLoaiCauHoi, "ID", "ID"), new { @class = "selectpicker", @title = "Chọn đề thi", @data_style = "select-with-transition" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.DeThi_ID)
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">Câu hỏi</label>
                                        <div class="col-sm-7">
                                            <div class="form-group has-default">
                                                @Html.DropDownListFor(model => model.CauHoi_ID, new SelectList(ViewBag.ListCauHoi, "ID", "NoiDung"), new { @class = "selectpicker", @title = "Chọn loại câu hỏi", @data_style = "select-with-transition" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.CauHoi_ID)
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3"></label>
                                        <div class="card-footer ">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
