@model EnglishTestingOnline.Web.Models.BaiDocNgheViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h2 class="card-title ">Cập nhật bài đọc nghe</h2>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Edit", "BaiDocNghe", FormMethod.Post))
                            {
                                <form class="form-horizontal">
                                    @Html.HiddenFor(model=>model.ID)
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Nội dung</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.NoiDung, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Loại bài đọc nghe</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                @Html.DropDownListFor(model => model.LoaiBaiDocNghe_ID, new SelectList(ViewBag.ListLoaiBaiDocNghe, "ID", "Name"), new { @class = "selectpicker", @title = "Chọn chủ đề", @data_style = "select-with-transition" })
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right text-danger">
                                            @Html.ValidationMessageFor(model => model.LoaiBaiDocNghe_ID)
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3"></label>
                                        <div class="card-footer ">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
