@model EnglishTestingOnline.Web.Models.LoaiCauHoiViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h2 class="card-title ">Thêm mới loại câu hỏi</h2>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Edit", "LoaiCauHoi", FormMethod.Post))
                            {
                                <form class="form-horizontal">
                                    <div class="row">
                                        <label class="col-md-3 col-form-label">Tên</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.ID)
                                                @Html.TextBoxFor(model => model.NoiDung, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3"></label>
                                        <div class="card-footer ">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
