@model IEnumerable<EnglishTestingOnline.Web.Models.RoleViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h2 class="card-title ">Danh sách quyền</h2>
                    </div>
                    <div class="card-body">
                        @if (TempData["message"] != null)
                        {

                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <span>
                                    @TempData["message"]
                                </span>
                            </div>
                        }
                        @if (TempData["error"] != null)
                        {

                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                                <span>
                                    @TempData["error"]
                                </span>
                            </div>
                        }
                        <div class="toolbar">

                            <a href="/Role/CreateUserRole" class="btn btn-success">
                                <i class="fa fa-plus-circle"></i> Add new
                            </a>
                            @using (Html.BeginForm("Import", "CauHoi", FormMethod.Post, new { enctype = "multipart/form-data", @class = "btn btn-default" }))
                            {
                                <span class="btn-file">
                                    <span class="fileinput-new"><i class="fa fa-download"></i> Import</span>
                                    <input type="file" onchange="this.form.submit()" name="excelfile">
                                </span>
                            }
                            <a href="/CauHoi/Export" class="btn btn-warning">
                                <i class="fa fa-upload"></i> Export

                            </a>
                            <a href="" class="btn btn-danger" id="deleteMulti">
                                <i class="fa fa-trash"></i> Delete multi

                            </a>
                        </div>
                        <div class="table-responsive">
                            <form method="get" action="/CauHoi/Index">
                                <div class="input-group no-border">
                                    <input type="text" placeholder="Search here" id="txtKeyword" name="keyword" class="form-control">
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th style="width: 5%">
                                            <input type="checkbox" id="selectAll" />
                                        </th>
                                        <th style="width: 15%">
                                            <h4>
                                                <b>Quyền</b>
                                            </h4>
                                        </th>
                                        <th style="width: 5%">
                                            <h4><b>Sửa</b></h4>
                                        </th>
                                        <th style="width: 5%">
                                            <h4><b>Xóa</b></h4>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="width: 5%">
                                                <input type="checkbox"  />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                         
                              
                                            <td>
                                                <a href="/Role/Edit?id=@item.Id" class="btn btn-sm btn-info">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/Role/Delete?id=@item.Id" class="btn btn-sm btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

